body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 0;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f4f4f4;
    color: rgb(0, 0, 0);
}


.logo {
    display: flex;
    align-items: center;
    color: #000000;
}


.logo img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}


.help {
    color: rgb(0, 0, 0);
    text-decoration: none;
}


.container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}


.input-section, .output-section {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 40%;
}


textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}


.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}


.decrypt-button-group {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}


button {
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}


.coller-btn, .importer-btn, .copier-btn {
    background-color: #ccc;
    color: black;
}


.decrypt-btn {
    background-color: #333;
    color: white;
}


.exporter-btn {
    background-color: #007bff;
    color: white;
}